.layout-post {
  padding: 100px 20px;
  &-heading {
    margin-bottom: 64px;
  }
  .filter-list-button {
    gap: 40px;
  }
  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 64px 32px;
  }
  .filter-item {
    .image {
      width: 100%;
      aspect-ratio: 435 / 340;
      overflow: hidden;
      margin-bottom: 24px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content {
      h4 {
        margin-bottom: 12px;
      }
    }
  }
}
