.map {
  background-color: var(--color-bg);
  &-inner {
    padding: 0 130px 64px;
    @media (max-width: 991px) {
      padding: 0 16px 64px;
    }
  }
  &-image {
    position: relative;
    width: 100%;
    aspect-ratio: 1180 / 580;
    .map-link {
      position: absolute;
      left: 0;
      bottom: 0;
      display: inline-flex;
      background-color: var(--color-bg-2);
      transition: background-color 0.3s ease;

      &:hover,
      &:focus-visible {
        background-color: var(--color-text);
      }
    }
  }
}
