<div class="footer-main">
  <div class="footer-brand">
    <a class="footer-brandLink" href="./index.html" aria-label="Sanchi Privé - Trang chủ">
      <img
        class="footer-logo"
        src="./assets/images/logo.svg"
        alt="Sanchi Privé Wellness House by Fuji"
      />
    </a>
    <p class="footer-desc b1">
      Sanchi Privé tạo nên một khoảng riêng để bạn dừng lại, thả lỏng và trở về
      với chính mình.
    </p>
  </div>

  <div class="footer-column">
    <h2 class="footer-title heading-5">Liên hệ</h2>
    <div class="footer-list b1">
      <p>6 Đ. Hoàng Minh Thảo, Khu đô thị Tây Hồ Tây, Xuân Đỉnh, Hà Nội, Việt Nam</p>
      <p><a href="mailto:info@sanchiprive.com">info@sanchiprive.com</a></p>
      <p><a href="tel:+842473010100">+84 24 7301 0100</a></p>
    </div>
  </div>

  <div class="footer-column">
    <h2 class="footer-title heading-5">Giờ mở cửa</h2>
    <div class="footer-list b1">
      <p>Thứ 2 - Thứ 6: 09:00 - 20:00</p>
      <p>Thứ 7: 09:00 - 18:00</p>
      <p>Chủ Nhật: 09:00 - 18:00</p>
    </div>
  </div>

  <div class="footer-column">
    <h2 class="footer-title heading-5">Theo dõi</h2>
    <div class="footer-socials">
      <a class="footer-socialLink b1" href="#facebook">
        <img
          class="footer-socialIcon"
          src="./assets/images/icons/icon-fb.svg"
          alt=""
          aria-hidden="true"
        />
        <span class="footer-socialText hover-underline-white">Facebook</span>
      </a>
      <a class="footer-socialLink b1" href="#instagram">
        <img
          class="footer-socialIcon"
          src="./assets/images/icons/icon-insta.svg"
          alt=""
          aria-hidden="true"
        />
        <span class="footer-socialText hover-underline-white">Instagram</span>
      </a>
      <a class="footer-socialLink b1" href="#tiktok">
        <img
          class="footer-socialIcon"
          src="./assets/images/icons/icon-tiktok.svg"
          alt=""
          aria-hidden="true"
        />
        <span class="footer-socialText hover-underline-white">Tiktok</span>
      </a>
      <a class="footer-socialLink b1" href="#line">
        <img
          class="footer-socialIcon"
          src="./assets/images/icons/icon-line.svg"
          alt=""
          aria-hidden="true"
        />
        <span class="footer-socialText hover-underline-white">Line</span>
      </a>
      <a class="footer-socialLink b1" href="#kakao-talk">
        <img
          class="footer-socialIcon"
          src="./assets/images/icons/icon-kakaotalk.svg"
          alt=""
          aria-hidden="true"
        />
        <span class="footer-socialText hover-underline-white">Kakao Talk</span>
      </a>
    </div>
  </div>
</div>

<div class="footer-bottom">
  <div class="footer-bottomInner">
    <p class="footer-copyright b-tag">
      Copyright © Sanchi Privé. All Rights Reserved
    </p>
    <a class="footer-credit b-tag hover-underline-white" href="#alpha-creative">
      Digital Experience by Alpha Creative
    </a>
  </div>
</div>
