<div class="header-container">
  <a
    class="header-logo"
    href="./index.html"
    aria-label="Sanchi Privé - Trang chủ"
  >
    <img
      src="./assets/images/logo.svg"
      alt="Sanchi Privé Wellness House by Fuji"
    />
  </a>

  <div class="header-main" id="header-navigation">
    <nav class="header-menu" aria-label="Điều hướng chính">
      <ul>
        <li>
          <a class="b-tag clr-animation color-white" href="./lieu-trinh.html"
            >Liệu trình
            <span class="svg-clr">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="none"
                width="75.322"
                height="30.047"
                viewBox="0 0 75.322 30.047"
              >
                <path
                  d="M58.401 6.925c-28.54-11.37-76.863 3.444-50.036 17.49 12.519 7.022 56.407 8.61 65.35-6.84 3.577-5.618-2.02-14.764-29.29-17.035"
                ></path>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a class="b-tag clr-animation color-white" href="./khong-gian.html"
            >Không gian
            <span class="svg-clr">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="none"
                width="75.322"
                height="30.047"
                viewBox="0 0 75.322 30.047"
              >
                <path
                  d="M58.401 6.925c-28.54-11.37-76.863 3.444-50.036 17.49 12.519 7.022 56.407 8.61 65.35-6.84 3.577-5.618-2.02-14.764-29.29-17.035"
                ></path>
              </svg> </span
          ></a>
        </li>
        <li>
          <a class="b-tag clr-animation color-white" href="./cam-hung.html"
            >Cảm hứng
            <span class="svg-clr">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="none"
                width="75.322"
                height="30.047"
                viewBox="0 0 75.322 30.047"
              >
                <path
                  d="M58.401 6.925c-28.54-11.37-76.863 3.444-50.036 17.49 12.519 7.022 56.407 8.61 65.35-6.84 3.577-5.618-2.02-14.764-29.29-17.035"
                ></path>
              </svg> </span
          ></a>
        </li>
        <li>
          <a
            class="b-tag clr-animation color-white"
            href="./ve-sanchi-prive.html"
            >Về Sanchi Privé
            <span class="svg-clr">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="none"
                width="75.322"
                height="30.047"
                viewBox="0 0 75.322 30.047"
              >
                <path
                  d="M58.401 6.925c-28.54-11.37-76.863 3.444-50.036 17.49 12.519 7.022 56.407 8.61 65.35-6.84 3.577-5.618-2.02-14.764-29.29-17.035"
                ></path>
              </svg> </span
          ></a>
        </li>
        <li>
          <a class="b-tag clr-animation color-white" href="./uu-dai.html"
            >Ưu đãi
            <span class="svg-clr">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="none"
                width="75.322"
                height="30.047"
                viewBox="0 0 75.322 30.047"
              >
                <path
                  d="M58.401 6.925c-28.54-11.37-76.863 3.444-50.036 17.49 12.519 7.022 56.407 8.61 65.35-6.84 3.577-5.618-2.02-14.764-29.29-17.035"
                ></path>
              </svg> </span
          ></a>
        </li>
        <li>
          <a class="b-tag clr-animation color-white" href="./lien-he.html"
            >Liên hệ
            <span class="svg-clr">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="none"
                width="75.322"
                height="30.047"
                viewBox="0 0 75.322 30.047"
              >
                <path
                  d="M58.401 6.925c-28.54-11.37-76.863 3.444-50.036 17.49 12.519 7.022 56.407 8.61 65.35-6.84 3.577-5.618-2.02-14.764-29.29-17.035"
                ></path>
              </svg> </span
          ></a>
        </li>
      </ul>
    </nav>

    <div class="header-lang" data-header-lang-mount></div>

    <button
      class="header-booking b-tag hover-underline-white"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#formReservationModal"
      aria-haspopup="dialog"
      aria-controls="formReservationModal"
    >
      Đặt lịch
    </button>
  </div>

  <button
    class="header-hamburger"
    type="button"
    aria-label="Mở menu"
    aria-controls="header-navigation"
    aria-expanded="false"
    data-header-toggle
  >
    <span></span>
    <span></span>
  </button>
</div>
